        body {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }
        .video-container iframe {
            position: absolute;
            top:0px;
            left: 0;
            z-index: -99;
            pointer-events: none;
            height:100%;
            width: 100%;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
        }

        .photo {
            position: absolute;
            filter: alpha(opacity=0);
            -webkit-animation: round 10S linear infinite;
            animation: round 10s linear infinite;
        }

        @-webkit-keyframes round {
            0% {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            40% {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            50% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            90% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            100% {
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }

        @keyframes round {
            0% {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            40% {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            50% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            90% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            100% {
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }

        .photo2 {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .photo1 {
            -webkit-animation-delay: 5s;
            animation-delay: 5s;
        }

        .tabs {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .tab {
            float: left;
        }

            .tab > input[type=radio] {
                display: none;
            }

            .tab > label {
                display: block;
                position: relative;
                min-width: 30px;
                height: 20px;
                margin-right: -1px;
                padding: 0 30px;
            }

            .tab > .content {
                display: none;
                position: absolute;
                top: 30px;
                right: 0;
                bottom: 0;
                left: 0;
                height: 78%;
                z-index: 1;
                padding: 10px;
                background: #FFF;
                border: 3px dashed #AAA;
                overflow: auto;
                padding: 5% 5%;
            }

            .tab > input[type=radio]:checked + label {
                background: rgba(189, 189, 189,0.8);
                border-bottom: 1px solid transparent;
                z-index: 2;
                border: 3px dashed #AAA;
            }

            .tab > input[type=radio]:checked ~ .content {
                display: block;
            }

        .p2-3 {
            width: 87%;
            height: 80%;
            top: 10%;
            left: 7%;
        }

        .main {
            display: -webkit-flex; /* Safari */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            align-content: flex-start;
        }

            .main div {
                margin: 3% 0;
                width: 20%;
                height: 20%;
                text-align: center;
                border: 3px dashed #808080;
            }

        #P3 input, textarea {
            margin: 10px 0;
            width: 80%;
            border-radius: 10px;
            padding-left: 10px;
        }

        .img {
            filter: grayscale(1);
        }

            .img:hover {
                filter: grayscale(0);
            }

        .back {
            position: fixed;
            width: 100%;
            z-index: -100;
            opacity: 1;
            padding-bottom: 56.25%;
               overflow-y: hidden;
            transition: opacity 0.5s linear;
        }

            .back iframe {
            position: absolute;
            top: 50px;
            left: 0;
            z-index: -99;
            pointer-events: none;
            width: 100%;
            height: 100%;
            }

            .back div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                text-align: center;
                z-index: 1;
                background: linear-gradient(rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.5)25%, rgba(0, 0,0, 0.1)80%,rgba(255, 255, 255,1)85%);
                background: -moz-linear-gradient( rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.5)25%,rgba(0, 0,0, 0.1)80%, rgba(255, 255, 255,1)85%);
                background: -webkit-linear-gradient( rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.5)25%,rgba(0, 0,0, 0.1)80%, rgba(255, 255, 255,1)85%);
                background: -o-linear-gradient(rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.5)25%, rgba(0, 0,0, 0.1)80%,rgba(255, 255, 255,1)85%);
            }
                    .p1{
            position: relative;
            width: 100%;
            height: 25%;
            z-index: 0;
        }

        .p1-1 {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height:120%;
            text-align: center;
            z-index: 1;
            background: linear-gradient(rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.1)25%, rgba(0, 0,0, 0.1)60%,rgba(255, 255, 255,1)65%,rgba(255, 255, 255,1)95%, rgba(0, 0,0, 0)100%);
            background: -moz-linear-gradient( rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.1)25%,rgba(0, 0,0, 0.1)60%, rgba(255, 255, 255,1)65%,rgba(255, 255, 255,1)95%, rgba(0, 0,0, 0)100%);
            background: -webkit-linear-gradient( rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.1)25%,rgba(0, 0,0, 0.1)60%, rgba(255, 255, 255,1)65%,rgba(255, 255, 255,1)95%, rgba(0, 0,0, 0)100%);
            background: -o-linear-gradient(rgba(255, 255, 255,1)20%, rgba(0, 0,0, 0.1)25%, rgba(0, 0,0, 0.1)60%,rgba(255, 255, 255,1)65%,rgba(255, 255, 255,1)95%, rgba(0, 0,0, 0)100%);
        }

        .p1-2 {
            position: relative;
            display: inline-block;
            top: 2%;
            width: 25%;
            margin:0 2%;
            z-index: 300;
            font-family: 'Microsoft JhengHei';
            font-size: 40px;
            font-weight: bold;

        }
        .p1-2-1 {
            position: absolute;
            display:flex;
            top: 0;
            left: 0;
            height:auto;
            z-index:-1;
            opacity: 0;
            transition: 0.2s;


        }
        .p1-2-1 div{
            width:100%;
            padding:-5% 0 0 0 ;
            margin:5% -50% 0 25%;

            transition: 0.5s;
            font-size: 80%;

        }

        .p2 {
            position: absolute;
            overflow: hidden;
        }

        .p2-1 {
            position: absolute;
            z-index: 99;
            background: linear-gradient(rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10%, rgba(0, 0,0, 0)90%,rgba(255, 255, 255,1)95%);
            background: -moz-linear-gradient( rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10%,rgba(0, 0,0, 0)90%, rgba(255, 255, 255,1)95%);
            background: -webkit-linear-gradient( rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10rgba(0, 0,0, 0)90%, rgba(255, 255, 255,1)95%);
            background: -o-linear-gradient(rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10% rgba(0, 0,0, 0)90%,rgba(255, 255, 255,1)95%);
        }

        .p2-2 {
            position: absolute;
            z-index: 99;
            background: linear-gradient(180deg,rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10%, rgba(0, 0,0, 0)90%,rgba(255, 255, 255,1)95%);
            background: -moz-linear-gradient(180deg, rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10%,rgba(0, 0,0, 0)90%, rgba(255, 255, 255,1)95%);
            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10%,rgba(0, 0,0, 0)90%, rgba(255, 255, 255,1)95%);
            background: -o-linear-gradient(180deg,rgba(255, 255, 255,1)5%, rgba(0, 0,0, 0)10% rgba(0, 0,0, 0)90%,rgba(255, 255, 255,1)85%);
        }
        .back2{
            position: fixed;
            top:0;
            height:5%;
            width:100%;
            z-index: 999;
            background:rgba(255, 255, 255,1);
            opacity:0;
        }